/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, img {
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    overflow-wrap: break-word;
}

button {
    border: none;
    background-color: var(--_btn-color);
    padding: 0.5rem 2rem;
    border-radius: 32px;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    background-color: var(--_hover-color);
    transition: all 150ms;
}

/* Main */
:root {
    --blue-400: #b0c9f1;
    --blue-300: #bfd3f3;
    --red-400: #ff7d7b;
    --red-300: #ff8a88;
    --purple-400: #bb2add;
    --purple-300: #c955e4;
    --green-400: #dafdcc;
    --gray-900: #130b1c;
    --gray-800: #1c1523;
    --yellow-400: #facc15;
    font-size: 18px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--gray-900);
}

.grid_dashboard {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template: [row-1-start] "navigation header" 0.5fr [row-1-end] [row-2-start] "navigation body" 3fr [row-2-end] / 0.8fr 3fr;
}


.dashboard__nav {
    grid-area: navigation;
    background-color: var(--gray-800);
    color: white;
    padding: max(5%, 1rem) max(1rem, 10%);
    box-shadow: 1px 0 10px 1px #4d445785;
    display: flex;
    flex-direction: column;
    gap: min(2rem, 50%);
}

.logo {
    display: flex;
    align-items: center;
    font-size: clamp(1rem, 2vw, 4rem);
    font-weight: 800;
    background: rgb(250,204,21);
    background: linear-gradient(-90deg, rgba(250,204,21,1) 0%, rgba(187,42,221,1) 100%); 
    color: transparent;
    background-clip: text;
    text-shadow: 0 0 64px var(--purple-300);
}

.logo img {
    width: min(200px, 25%);
    filter: drop-shadow(0px 0px 48px var(--yellow-400));
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    font-weight: 600;
    font-size: max(1.2rem, 100%);
    gap: 1rem;
}

li {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    color: white;
    transition: color 150ms;
}

li:nth-child(6) {
    margin-top: 2rem;
}

li:hover {
    color: var(--blue-400);
    transition: color 150ms;
}

li img {
    width: 8%;
    flex-shrink: 0;
}

.dashboard__header {
    grid-area: header;
}

.dashboard__body {
    grid-area: body;
}

.dashboard__header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header__row1, .header__row2 {
    padding: 1rem 4rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.searchbar {
    display: flex;
    width: 50%;
    gap: 1rem;
    align-items: center;
}

.header__row1 img {
    width: 1.8rem;
}

.header__row1__profile {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    gap: 2rem;
}

.header__row1__profile .pfp {
    width: 3.5rem;
    border-radius: 64px;
}

.searchbar__body {
    background-color: var(--gray-800);
    border: none;
    border-radius: 24px;
    width: 100%;
    height: 2.5rem;
    padding: 1rem;
    border: 2px solid var(--blue-300);
    color: white;
}

input:focus {
    outline: none;
    transition: all 150ms;
}

.header__row2__profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__row2__profile img {
    width: 5rem;
    border-radius: 64px;
}

.profile__txt {
    color: white;
}

.profile__txt p:last-child {
    font-weight: 600;
    font-size: 1.2rem;
}

.button_group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.button_group  {
   --_btn-color: var(--red-400);
   --_hover-color: var(--red-300)
}


#dashboard__body {
    display: grid;
    grid-template-rows: 0.5fr 5fr;
    grid-template-columns: 2fr 2fr 1.5fr;
    color: white;
    background-color: var(--gray-800);
    margin: 1rem;
    padding: 2rem;
    gap: 2rem;
}

#dashboard__body p:first-child {
    grid-column: 1 / span 2 ;

}

.body__title {
    font-size: 1.2rem;
    font-weight: 600;
}

.body__col1, .body__col2, .body__col3 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card {
    background-color: var(--gray-900);
    padding: var(--_padding);
    display: flex;
    flex-direction: column;
    gap: var(--_gap);
    position: relative;
    border-radius: 16px;
}

.card__content p {
    font-size: var(--_default-txt);
}

.card__content p:first-child {
    font-size: var(--_header-txt);
    font-weight: 600;
}

.card--main {
    --_default-txt: 1rem;
    --_header-txt: 1.2rem;
    --_gap: 2rem;
    --_padding: 3rem;
}

.card--scndry {
    --_default-txt: 0.6rem;
    --_header-txt: 0.8rem;
    --_gap: 0.8rem;
    --_padding: 2rem;
}

.card--trending {
    --_default-txt: 1rem;
    --_padding: 2rem;
    --_gap: 2rem;
}

.card__icons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.card__icons img {
    width: 7%;
}

.side_line::before {
    content: "";
    background-color: var(--yellow-400);
    width: 1rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.card__profile {
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;
}

.card__profile img {
    width: 20%;
    border-radius: 64px;
    height: auto;
}

.card__profile__txt p:last-child {
    font-size: 1rem;
    font-weight: 500;
    color: var(--blue-300);
    
}